*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: rgb(42, 165, 184);
}
i{
  color: rgb(45, 91, 255);
}
.task{
  background-color: rgba(157, 157, 157, 0.8);
  border-radius: .5rem;
  color: white;
  font-weight: 400;
}
.checked{
  text-decoration: line-through;
  color: red;
  background-color: rgba(80, 197, 80, 0.809);
}